= form_field(checkbox, :index => index, :prefix => prefix, :class => "checkbox") do |f|
  = f.text_field :label, :title => "Checkbox Label", :placeholder => "Checkbox Label", :id => nil
  = f.required_field_checkbox
