= form_field(custom_field, :index => index, :prefix => prefix, :class => "custom-field", :icon => "custom") do |f|
  = f.text_field :label, :title => "Custom Field Label", :placeholder => "Custom Field Label", :id => nil
  = f.text_field :partial, :title => "Partial", :placeholder => "Partial", :id => nil
  