= form_field(states_dropdown, :index => index, :prefix => prefix, :class => "states-dropdown", :icon => "states") do |f|
  = f.text_field :label, :title => "States Dropdown Label", :placeholder => "States Dropdown Label", :id => nil
  = f.select :country, [["US States", "US"], ["Australian States", "Australia"]], {}, :id => nil
  = f.required_field_checkbox
