= form_field(submit_button, :index => index, :prefix => prefix, :class => "submit-button") do |f|
  = f.text_field :label, :title => "Submit Button Label", :placeholder => "Submit Button Label", :id => nil
