= form_field(text_field, :index => index, :prefix => prefix, :class => "text-field") do |f|
  = f.text_field :label, :title => "Text Field Label", :placeholder => "Text Field Label", :id => nil
  = f.required_field_checkbox
