= form_field(text_area, :index => index, :prefix => prefix, :class => "text-area") do |f|
  = f.text_field :label, :title => "Text Area Label", :placeholder => "Text Area Label", :id => nil
  = f.required_field_checkbox
